<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script type="text/template" id="channel-template">
        {% raw -%}
            {{#each channels}} 
            <li>
                <a data-channel="{{this}}" class="channel_head">{{this}}</a>
            </li>
            {{/each}}
        {%- endraw %}
    </script>
    <script type="text/template" id="other-message-template">
        <li class="other-message">
            {% raw -%}
            <div class='sent_by'>{{this.sent_by}}</div>
            <div class='message'>{{this.text}}</div>
            <div class='timestamp'>{{this.timestamp}}</div> 
            {%- endraw %}
        </li>
    </script>
    <script type="text/template" id="self-message-template">
        <li class="self-message">
            {% raw -%}
            <div class='sent_by'>{{this.sent_by}}</div>
            <div class='message'>{{this.text}}</div>
            <div class='timestamp'>{{this.timestamp}}</div> 
            {%- endraw %}
        </li>
    </script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <div id="user_info" class="form-group">
        <h4>Opps! You don't seem to have a username</h4><br>
        <form>
            <label for="username">Enter a username</label><br>
            <input type="text" id='username' class="form-control-sm">
            <button id="username_submit">Submit</button> 
        </form>
    </div>
    <div id="content">
        <!-- <ul>
            <li id="name"></li>
             <li id='logout'> Logout</li> -->
            <!-- <li><button id="logout">Logout</button></li>
        </ul> -->

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Shitty Discord clone</a>
            <div class="navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" id="name">Username</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" id="logout">Logout</a>
                  </li>
                </ul>
            </div>
        </nav>

        <div id="wrapper">
            
            <div id="sidebar-wrapper" >
                <button id="create-channel"> + Create Channel</button>
                <div id="create-channel-item" style="display: none;">
                    <form class="form-group">
                        <input type="text" name="channel-name" id="new-channel-name" class="form-control"> 
                    </form>
                    <p id="new-channel-error-text"></p>
                    <button id="conform-channel" >Conform</button>
                </div>
                <ul id="sidebar-channel" style="overflow-y: auto;">

                </ul>

            </div>

            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div id="messages">
                        <ul id='messages-list'>

                        </ul>
                    </div>
                    <form class="form-group">
                        <input type="text" id="message" class="form-control">
                        <button id="send-message">Send</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>
</html>